
/*****
**           =html 
** optimal minimum width
****/

html{
    min-width: 240px;
    min-width: 15rem;

    font-size: .8em;
    /*font-size: 2vw; */
}

@media all and (min-width: 768px){
    html{
        font-size: 1em;
    }
}

@media all and (max-width: 400px){
    html{
        font-size: .7em;
    }
}

        /* =body */
body{
    font-size: 1rem;
    position: relative;
    line-height: 1.618em;
    font-family: $fontPrimary, $fontSecondary;
    font-weight: 400;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    /*overflow-y: scroll;*/
    transition: all 0.25s; 
    width: 100%;
    height: 100%;        
}


/***************
*******    =wrap
***************/
body> #wrap{
    width: 100%;
    height: 100%;
    padding: 0 ;
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    background: rgba(255,255,255,.3);
}

#wrap:after{
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: .3;
    z-index: -1;
    background: url("../img/background/1077-cropped-sm.jpg") repeat;
    background-size: 40%;
    // background-position: 50% 0%;
}

@media all and (min-width: 576px){
    #wrap:after{
        background: url("../img/background/1077-cropped-md.jpg") repeat;
        background-size: 30%;
        // background-position: 50% 0%;

    }
}

@media all and (min-width: 768px){
    #wrap:after{
        background: url("../img/background/1077-cropped-lg.jpg") repeat;
        background-size: auto;
        // background-position: 50% 0%;

    }
}


/* basic code shell css ends*/

