
.site-footer{
    width: 100%;
    padding: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: rgba(255,255,255,.4);
    background: linear-gradient(
           to bottom,
           rgba(255,255,255,.2),
           rgba(255,255,255,.4) 5%
        );

    .copyright-info{
        font-size: 1.6rem;
        letter-spacing: .05em;
        line-height: 1.4em;
        color: lighten($black, 40%);
    }

    a{
        text-transform: uppercase;
        color: darken($rusty,20%);
        margin: 0 .5rem;
        border-bottom: 1px solid $rusty;
    }
    .author{
        color: darken($bg1,20%);
    }
}



#footer .wrapper>.section{
    /*position: relative;*/
}

#footer{ 
    bottom: 0;
    border-bottom: 4px solid transparent;
    padding: 0 10px 0 10px;
    padding: 0 30px;


    nav{
        position: absolute;
        bottom: 4px;
        

        .icon{
            font-size: 2rem;
            line-height: .5em;
        }

        .icon--toggle{
            position: absolute;
            bottom: 100%;
            background: rgba(255,255,255,.75);
            padding: 0 5px;
            cursor: pointer;
            font-size: 1.5rem;
            line-height: .5em;
            box-shadow: 2px 4px 10px rgba(0,0,0,.15);
        }
        
        .list{
            list-style: none;
            padding-left: 0;
            margin: 0;
            background: rgba(255,255,255,.75);
            padding: 10px;

            opacity: 0;
            visibility: hidden;  
        }
    }


    .nav-sec{
        left: 0;
        transform: translateY(100%);
        .icon--pull,
        .icon--push{
            left: 0;
            box-shadow: 2px -4px 10px rgba(0,0,0,.15);
        }

        .list{
            padding: 0; 

        }

        

    }

    .nav-social{
        left: 50% ;
        transform: translateY(103%) translateX(-50%) ;
        padding: 0;

        .icon--pull,
        .icon--push{
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px -4px 10px rgba(0,0,0,.15);
        }
        li{
            display: inline-block;
            margin-left: 1rem;
        }
        a{
            transition: all .3s;
        }
        a:hover{
            color: hsl(33, 35%, 40%);
        }
        .icon{
            font-size: 1.5rem !important;
        }
    }

}


/* 
#footer [class^="nav--"] .icon--push{
    opacity: 0;
    visibility: hidden;
}
*/



// ------------------------------------------------



#footer .link--go-to-top{
    position: absolute;
    /*background: red;*/
    width: 100px;
    height: 100px;
    bottom: -4px;
    right: 0rem;
    transform: rotate(45deg);
    transform-origin: -40% 50%;
    background: $white;

    background: repeating-linear-gradient(-90deg,
                 lighten($lightestWhiten,5%) 7%,
                 lighten($lightestWhiten,5%) 14%,
                 darken($lightestWhiten,10%) 14%,
                 darken($lightestWhiten,10%) 21%

                );
    
}
