




footer .wrapper>.section{
    /*position: relative;*/
}

#footer{ 
    bottom: 0;
    border-bottom: 4px solid transparent;
    padding: 0 10px 0 10px;
    padding: 0 30px;


    nav{
        position: absolute;
        bottom: 4px;
        

        .icon{
            font-size: 2rem;
            line-height: .5em;
        }

        .icon--toggle{
            position: absolute;
            bottom: 100%;
            background: rgba(255,255,255,.75);
            padding: 0 5px;
            cursor: pointer;
            font-size: 1.5rem;
            line-height: .5em;
            box-shadow: 2px 4px 10px rgba(0,0,0,.15);
        }
        
        .list{
            list-style: none;
            padding-left: 0;
            margin: 0;
            background: rgba(255,255,255,.75);
            padding: 10px;

            opacity: 0;
            visibility: hidden;  
        }
    }


    .nav-sec{
        left: 0;
        transform: translateY(100%);
        .icon--pull,
        .icon--push{
            left: 0;
            box-shadow: 2px -4px 10px rgba(0,0,0,.15);
        }

        .list{
            padding: 0; 

        }

        a{
            padding: 5px 7px;

            &:after{
                transform: translateZ(0) scale(0.8);
            }

            &:hover:after{
                transform: translateZ(0) scale(1);
            }

        }

    }

    .nav-social{
        left: 50% ;
        transform: translateY(103%) translateX(-50%) ;
        padding: 0;

        .icon--pull,
        .icon--push{
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px -4px 10px rgba(0,0,0,.15);
        }
        li{
            display: inline-block;
            margin-left: 8px;
        }
        .icon{
            font-size: 1.5rem !important;
        }
    }

}




/* 
footer [class^="nav--"] .icon--push{
    opacity: 0;
    visibility: hidden;
}
*/



// ------------------------------------------------



footer .link--go-to-top{
    position: absolute;
    /*background: red;*/
    width: 100px;
    height: 100px;
    bottom: -4px;
    right: 0rem;
    transform: rotate(45deg);
    transform-origin: -40% 50%;
    background: $white;

    background: repeating-linear-gradient(-90deg,
                 lighten($lightestWhiten,5%) 7%,
                 lighten($lightestWhiten,5%) 14%,
                 darken($lightestWhiten,10%) 14%,
                 darken($lightestWhiten,10%) 21%

                );
    
}
