
/* pushing content 50px down for content that is inside layer--deep layer */
.parallax__layer--deep .push{
    top: 3.125rem;
}
.parallax__layer--deep--back .push{
    top: 6.25rem;
}



/* =center content */
.center__children{
    text-align: center;
}
.center__children>*{
    display: inline-block;
}



.notification-container{
    @include absolute;
    position: fixed;
    top: auto;
    bottom: 10%;
    left: 3%;
    right: 3%;

    z-index: 105;
}

.notification{
    width: 250px;
    padding: 10px;
    background: black;
    color: white;
}


.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70vh;
    background: white;
    /*border-radius: 4px;*/
    box-shadow: 0px 5px 20px rgba(0,0,0,.3);
    padding: 1rem;
    transform:translate3d(-50%,-50%,0);

    .close{
        position: absolute;
        right: 0;
        font-size: 2rem;
        margin: 10px;
        cursor: pointer;
    }

    .wrapper{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        outline: 2px solid rgb(196,168,132);
        overflow: auto;
    }

    &__heading{
        font-size: 1.3rem;
        position: relative;
        margin: 2.5rem 0;
        padding: 0 1rem;
        text-align: left;
    }

    .data{
        /*background: red;*/
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.8em;
        padding: 0 1em;
    }

}

#helpbox .subject .helpFor{
    color:rgb(119,119,119);
    font-size: .6em;
    position: absolute;
    /*right: 100%;*/
    bottom: 100%;
    /*left: 0;*/
}

/* 

#helpbox{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70vh;
    transform: translate3d(-50%,-50%,0);
    background: white;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.3);
    padding: 1rem;
} 

*/

/*

#helpbox .close{
    position: absolute;
    right: 0;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
}

 #helpbox .wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    outline: 2px solid rgb(196,168,132);
    overflow: auto;
} 

*/

/*

#helpbox .subject{
    font-size: 1.3rem;
    position: relative;
    margin: 2.5rem 0;
}

*/




/*

#helpbox .data{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8em;
    padding: 0 2em 0 2em;
}

*/



#modal{ 
    transform-style: preserve-3d;
}

/* 

#modal .wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    outline: 2px solid rgb(196,168,132);
    overflow: auto;
}

*/

#modal .face{
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    z-index: 102;
    backface-visibility: hidden;
}
#modal .face.top{
    background: red;
    background: linear-gradient(
          to top,  rgb(196,168,132)  ,
          rgb(255,255,255)
        );
    background: linear-gradient(
          to bottom,  rgb(249,214,166) ,
          rgb(255,255,255)
        );
    bottom: calc(100% + 5px);
    left: -5px;
    transform:rotateX(90deg);
    transform-origin: 50% 100%;
}
#modal .face.bottom{
    background: linear-gradient(
          to top,  rgb(249,214,166) ,
          rgb(255,255,255)
        );
    /*background-size: 100% 100%;*/
    /*background-clip: padding-box;*/
    /* background-position: 0% 0% ; */
    top: calc(100% + 5px);
    left: -5px;
    transform:rotateX(-90deg);
    transform-origin: 50% 0%;
}
#modal .face.right{
    background: yellow;
    background: linear-gradient(
          to right, rgb(253, 245, 232) ,
          rgb(255,255,255)
        );
    background: linear-gradient(
          to left,  rgb(196,168,132)  ,
          rgb(255,255,255)
        );
    top: -5px;
    left: calc(100% + 5px);
    transform:rotateY(90deg);
    transform-origin: 0% 50%;
    width: 70vh;
}
#modal .face.left{
    background: blue;
    background: linear-gradient(
          to left,  rgb(253, 245, 232)  ,
          rgb(255,255,255)
        );
    background: linear-gradient(
          to right,  rgb(196,168,132)  ,
          rgb(255,255,255)
        );
    top: -5px;
    right: calc(100% + 5px);
    transform:rotateY(-90deg);
    transform-origin: 100% 50%;
    width: 70vh;
}

.helpbox__subject{
    max-width: 70%;
    padding-right: 2px;
    vertical-align: middle;
}

.open__helpbox{
    display: inline-block;
    font-size: .6em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: .05em;  
    word-spacing: .1em;
    border: 2px solid transparent;
    background: white;
    /* shiny gold to rusty gold    */
    border-image: linear-gradient(to right,hsl(34,87%,81%),
       hsl(33,35%,64%) ) 1 stretch;

    padding: 0px 10px; 
    position: relative;
    cursor: pointer;
}
.open__helpbox:after{
    display:block;
    position: absolute;
    content: "";
    /*background: transparent;*/
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    z-index: -1;
    box-shadow: 0 10px 10px -4px rgba(0,0,0,.3);
}





a:not(.link){
    line-height: 1em;

    position: relative;
    display: inline-block;
    cursor: pointer;
    
    color: transparent;
    // text-shadow: none;

    /*background: rgb(250,250,250);*/
    padding: 0.25em 0.1875em;
    margin: 0.3125rem 0;
    border-radius: 3px 3px 0 0;
    background: hsl(34, 35%, 100%);
    text-shadow: none;
    // border-bottom: 2px solid hsl(34, 35%, 69%);
    /*background: rgb(196,168,132);*/
    /*text-shadow: .5px .5px 0px rgba(0,0,0,.3);*/
    
    transform: rotateX(0deg);
    transform-origin: 50% 0%;
    transform-style: preserve-3d;
    transition: transform .5s;

}


a:not(.link) strong{
    box-shadow: none !important;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    margin: 0;
}



/* 


*/

a:not(.link):after,
a:not(.link):before{
    content: "";
    position: absolute;
    line-height: inherit;
    padding: inherit;
    top: 100%;
    height: 100%;
    left: 0;
    right: 0;
    transform-origin: 50% 0%;
    color: hsl(34, 35%, 51%);
}


a:not(.link):after{
    content: attr(data-hover);
    top: 0;
    height: calc(100% + 2px);
    
    background: hsl(34, 35%, 88%);
    text-shadow: inherit;
    // transform: rotateX(90deg);
    border-bottom: 2px solid hsl(34, 35%, 69%);
    // border-color: transparent;
    border-bottom-width: 0px;

    transform: scaleY(0);
    transform-origin: 50% 100%;
    z-index: 3;
    transition: transform 0.4s, background 0.4s , border-width .2s .2s;
}
a:not(.link):hover:after{
    // transform: rotateX(0deg);
    transform: scaleY(1);
    background: white;
    // border-color: hsl(34, 35%, 69%);
    border-bottom-width: 2px;
}



a:not(.link):before{
    content: attr(data-hover);

    top: 0;
    height: calc(100% + 2px);
    border-bottom: 2px solid hsl(34, 35%, 69%);
    z-index: 3;
    overflow: hidden;
    transform-origin: 50% 0%;
    transition: transform 0.4s;
    transform: scaleY(1);
}


a:not(.link):hover:before{
    transform: scaleY(0);
    // transform: rotateX(-90deg);
    // transition: transform 0.4s 0.2s;
}




.subtitle{
    display: block;
    max-width: 30%;
    text-align: center;
    font-size: 1.15em;
    padding: 4px 10px 2px;
    border-top: 1px solid $rusty;
    border-bottom: 1px solid $rusty;
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote{
    display: block;
    font-size: 1.15em;
    // border-left: 1px solid $rusty;
    // border-bottom: 1px solid $rusty;
    background: linear-gradient(to right, 
                  $shiny,
                  transparent
                );
    color: lighten(black, 15%);
    padding: 10px 15px;
    margin: 0;
    margin: 0.625rem 1.875rem 0.625rem 3.75rem;
    
}



@media all and (min-width: 768px) {
    
    .popup{
        


        .data{
            /*background: red;*/
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.8em;
            padding: 0 2em 0 2em;
        }

    }
}
