
/* =services / =group5 */

.services{

    .heading--section{
        font-size: 1em;
    }

    .content--section{
        // font-size: .9em;
    }

    .list--job__titles{
        list-style: none;
        padding:0;
        margin: 0;
        margin-bottom: 1.3rem;

        .listHeading{
            margin: 0;
            font-size: 1em;
            margin-top: 1em;
            margin-bottom: .5em;
        }

        li{
            /*padding-left: 10%;*/
            margin-left: 10%;
            margin-bottom: .3em;
            position: relative;

            &:before{
                content: "\f487";
                left: -35px;
                font-family: "Ionicons";
                position: absolute;
            }
        
        }
    
    }

}

