
/***********************
*************
*********   =style-utilities 
*************
***********************/



/* a custom half grid size for creating a 1/24th of a 100% width  */

.col-md-05{
    position: relative;
    min-height: 1px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 992px) {
  .col-md-05{
    float: left;
    width: 4.166%;
  }
}




                        /* =width */

.fullW{
    width: 100%
}
.fullH{
    height: 100%;
}
.fullWH{
    @extend .fullW;
    @extend .fullH;
}





                            /* =fonts */

.small{
    font-size: .85em;
}

.font--heading{
    font-family: $fontHeading;
    font-weight: 800;
    letter-spacing: .2em;
    text-transform: capitalize;
}

.font--heading-alt{
    color: rgb(125,125,125);
    font-family: $fontHeadingAlt;
    font-weight: 700;
    letter-spacing: .05em;  
    word-spacing: .1em;
    font-style: italic;

    .font--primary-text &{
        font-weight: 500;
        font-size: 1.1em;
        color: #595959;
    }

    
}

@mixin primary-text{
    color: #404040;
    line-height: 1.5em;
    font-family: $fontPrimary;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: capitalize;
    text-shadow: 5px 5px 3px rgba(0,0,0,.15);
}

.font--primary-text{
    @include primary-text;

    strong{
        display: inline-block;
        font-weight: 700;
        font-size: 1.1em;
        padding-bottom: 4px;
        margin: 0.3125rem 0;
        box-shadow: 0px 12px 10px -10px  rgba(0,0,0,.4);
    }

}


.font--secondary-text{
    color: $lightText;

    font-family: $fontSecondary;
    font-weight: 400;
    letter-spacing: .05em;  
    word-spacing: .1em;
    line-height: 1.5em;
    font-style: italic;

    strong{
        display: inline-block;
        font-size: 1em;
        font-weight: 700;
        border-bottom: 1.5px solid $lightest;
        margin-bottom: 6px;
    }

    
    

    em{
        font-size: 1.1em;
        font-style: italic;
        text-shadow: 5px 5px 3px rgba(0,0,0,.15);
    }

    

}


.heading--underlined{
    display: block;
    margin: 1.875rem 0 0.625rem;
    padding-bottom: 0.625rem;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right,hsl(34,87%,81%),
        transparent 72%) 1 stretch;

    a:not(.link):before,
    a:not(.link):after{
        border: none;
    }

}





                            /* =text-shadow */

.text-shadow-1{
    text-shadow: 0.3125em 0.3125em 0.1875em rgba(0,0,0,.15);
}

.text-shadow-2{
    text-shadow: 0  0.3125rem  0.1875rem rgba(0,0,0,.15);
}

.text-shadow-3{
    text-shadow: -0.1875rem  0.1875rem  0.1875rem rgba(0,0,0,.15);
}

        




                        /* =anchor and links */

.navHoverEffect,
.navActiveEffect{
    display: block;
    position: relative;
    z-index: 1;
}

.navHoverEffect:after,
.navActiveEffect:after{
    @include pseudo;
    z-index: -1;
    opacity: 0;
    background: $navGradient;
    transition: opacity .2s;
    
}

.nav-main .navHoverEffect:after{
    transform: translateY(-100%) translateZ(0) scale(.8);
    transition: opacity .2s, transform .5s;
}

@media all and (min-width:768px){
    .nav-main .navHoverEffect:hover:after{
        transform: translateY(0) translateZ(0) scale(1);
        opacity: 1;
        transition: opacity .2s .1s, transform .5s;

    }
}


.navActiveEffect.navHoverEffect:after,
.navActiveEffect:after{
    background: $navGradient;
    transform: translateY(0) translateZ(0) scale(1);
    opacity: 1;
}
                    






.not-loaded{
    @include absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index: 2;
    background: $bg1 ;
    background: linear-gradient(
                -45deg,
                $bg1,  
                $white
              );

    &:before{
        @include pseudo;
        z-index: 1;
        animation: loading-shine 1s infinite ease both;
        background: linear-gradient(
                    90deg, 
                    transparent 0%,
                    rgba(255,255,255,.8) 40%,
                    rgba(255,255,255,.8) 60%,
                    transparent  
                   );
    }

    &--wip{
        z-index: 10;

        &-container{
            .not-loaded{
                display: none;
            }
            >.not-loaded{
                display: block;
            }
        }

        &:after{
            @include pseudo;
            @include primary-text;
            
            z-index: 2;
            font-size: 2rem;
            content: 'Under Development';
            text-align: center;
            padding-top: 40px;

            @media all and (min-width: 768px) {
                font-size: 3rem;
            }

        }
    }

}

@keyframes loading-shine{
    0%{
        transform: translateX(-100%) ;
    }
    100%{
        transform: translateX(100%) ;
    }
}


.lightbox{
    position: fixed;
    background: rgba(255,255,255,.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    perspective: 1280px;
}
